/* GENERAL TEMPLATE */
// Top navbar
$navbarHeight: 35px;

.phmenu, .pmenu { // whole top navbar wrapper
  background: #fdd835 !important;
  padding: 0 !important;

  &, .phmenu .dx, .phmenu .dx>li {
    height: $navbarHeight !important;
  }
}

.phmenu .dx>li{ // one item
  div, a { // item wrapper
    padding: 0 10px !important;
  }

  span { // text wrapper
    line-height: $navbarHeight !important;
    padding: 0 !important;
  }
}

.dxmLite { // whole navbar
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  .dxm-main .dxm-hovered { // item on hover
    background-color: #fbc02d;
  }

  .pimenu { // dropdown menu
    background-color: #ffeb3b !important;
    border: 1px solid #fdd835 !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
    padding: 0;

    .dxm-hovered { // dropdown item hovered
      background-color: #fdd835 !important;
      border-color: #fdd835 !important;
    }
  }
}

div.pravemenu2 { // little right top submenu wrapper
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &, & div.cmout {
    background-color: #fdd835 !important;
    border: 0 !important;
  }
}

#hlavicka { // header
  background-color: #ffeb3b;
  padding: 1em 2em 1em 1em !important;

  .hlavickaleva { // logo wrapper
    background: url("//predvidac.davidindra.cz/images/mainlogo.png");
    margin-top: 16px;
    margin-left: 12px;
    background-size: 100% auto;
  }

  .globlogjmeno { // box with user info
    background-color: transparent;
  }
}

.flyplan {
  background-color: #ffeb3b !important;
  border: 1px solid #fdd835 !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}


img#pr-logo {
  width: 30px;
  height: 30px;
  position: fixed;
  visibility: visible !important;
  top: 10px;
  right: 10px;

  &.grayscale {
    filter: grayscale(100%);
  }
}

/* GRADES OVERVIEW */

// align texts to vertical middle
.radekznamky td {
  vertical-align: baseline;
}

// different grades coloring
$grade-colors: (
    1: #00C91D,
  //2: #B7E807,
    2: #9bc600,
    3: #FFC800,
    4: #E8730C,
    5: #FF1D0D
);

@each $grade, $color in $grade-colors {
  .pr-grade-#{$grade} {
    color: $color !important;
  }

  .pr-grade-bg-#{$grade} {
    background-color: $color !important;
  }
}

.smaller {
  font-size: smaller;
}

// better background
#cphmain_roundprub_RPC {
  background-color: white !important;
}

// 100% main table width
#cphmain_roundprub, .radekznamky,
#cphmain_roundpolo{
  width: 100%;
  cursor: default;
}

// fix top margin
.outround {
  margin-top: 30pt;
  margin-left: 0;
}

// remove advert
div.advertout {
  display: none !important;
}

// fix right menu
div.pravemenu2 div {
  display: inline-block;
}

// fix font weight and size
.detznamka, .znnovejsi {
  font-weight: normal;
  font-size: inherit;
}

.detznamka {
  font-size: 16px;

  sup {
    font-weight: bold;
  }
}

.znnovejsi {
  border: 1px dotted #2d1010;
  border-radius: 10pt;
}

// list of users
form#formbaka {
  width: calc(100vw - 25ex - 30px);
  margin: 10px 0 0 10px;
}

#stranka {
  width: 100%;
}

div.pr-users {
  bottom: 10px;
  right: 3px;
  position: fixed;
  width: 30ex;
  font-size: .9em;

  .heading {
    font-size: 1.4em;
    text-align: right;
    cursor: default;
    font-weight: bold;
  }
}

table.loglinktable {
  border-spacing: 2px;
  width: 100%;

  .loglink {
    padding: 2px;
    background-color: transparent;
    text-align: right;

    a:hover {
      font-weight: bold;
    }
  }
}
